<div>
    <table class="table table-condensed">
                        <tr class="sub-header-bg-summary">
                            <td>SETUP SCREENS</td>
                        </tr>
                        <tr class="sub-heading-summary">
                            <td>
                                <icon class="glyphicon glyphicon-plus-sign"></icon>
                                <a href="#user">Staff Member/User</a> </td>
                        </tr>
                        <tr class="sub-heading-summary">
                            <td>
                                <icon class="glyphicon glyphicon-plus-sign"></icon>
                                <a href="#bus"> Buses</a></td>
                        </tr>
                        <tr class="sub-heading-summary">
                            <td>
                                <icon class="glyphicon glyphicon-plus-sign"></icon>
                                Graveyard</td>
                        </tr>
                        <tr class="sub-heading-summary">
                            <td>
                                <icon class="glyphicon glyphicon-plus-sign"></icon>
                                Drivers</td>
                        </tr>
                        <tr class="sub-heading-summary">
                            <td>
                                <icon class="glyphicon glyphicon-plus-sign"></icon>
                                Tracking Devices</td>
                        </tr>
                        <tr class="sub-heading-summary">
                            <td>
                                <icon class="glyphicon glyphicon-plus-sign"></icon>
                                Alkhidmat Centres</td>
                        </tr>
                        <tr class="sub-heading-summary">
                            <td>
                                <icon class="glyphicon glyphicon-plus-sign"></icon>
                                Permissions</td>
                        </tr>
                        <tr class="sub-header-bg-summary">
                            <td>REPORTS</td>
                        </tr>
                        <tr class="sub-heading-summary">
                            <td>
                                <icon class="glyphicon glyphicon glyphicon-file"></icon>
                                Booking</td>
                        </tr>
                        <tr class="sub-heading-summary">
                            <td>
                                <icon class="glyphicon glyphicon glyphicon-file"></icon>
                                Maintenance</td>
                        </tr>
                        <tr class="sub-heading-summary">
                            <td>
                                <icon class="glyphicon glyphicon glyphicon-file"></icon>
                                Milage</td>
                        </tr>
                        <tr class="sub-heading-summary">
                            <td>
                                <icon class="glyphicon glyphicon glyphicon-file"></icon>
                                User Logging</td>
                        </tr>
                    </table>
</div>