<div>
    <!--<div id="ModalGrid1">
            <div></div>
        </div>-->

    <div id="ModalGrid">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header <%=type%>">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" id="myModalLabel">BUS STATUS</h4>
                </div>
                <div class="modal-body modalBody" id="ModalBody">
                    <div id="ItemContainer"></div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn <%=type%>" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/html" id="Modal">    
       <div class="row">
            <div ><hr/></div>
        </div>
        <div class="row">
            <div class="col-sm-4">Driver Name</div>
            <div class="col-sm-6"><%=fullName%></div>
        </div>
        <div class="row">
            <div class="col-sm-4">Driver Contact</div>
            <div class="col-sm-6 text-danger"><strong><%=mobileNo%></strong> </div>
        </div>
        <div class="row">
            <div class="col-sm-4">Vehicle</div>
            <div class="col-sm-6"> <%=vehicleNo%></div>
        </div>
        <div class="row">
            <div class="col-sm-4">Pickup Date</div>
            <div class="col-sm-6"> <%=pickupDate%></div>
        </div>
        <div class="row">
            <div class="col-sm-4">Time Slot</div>
            <div class="col-sm-6 text-danger"><strong><%=pickupTime%> - <%=returnTime%></strong> </div>
        </div>
        <div class="row">
            <div class="col-sm-4">Bus Point</div>
            <div class="col-sm-6"><%=busPoint%></div>
        </div>
        <div class="row">
            <div class="col-sm-4">Graveyard</div>
            <div class="col-sm-6"><%=graveyard%></div>
        </div>
        <div class="row">
            <div class="col-sm-4">Masjid Name</div>
            <div class="col-sm-6"><%=masjidName%></div>
        </div>
        <div class="row">
            <div class="col-sm-4">Funeral Prayer</div>
              <div class="col-sm-6 text-danger"><strong><%=namazEJanazaHeldIn%></strong> </div>
        </div>
        <div class="row">
            <div class="col-sm-4">Funeral Location</div>
            <div class="col-sm-6"><%=namazEJanazaLocation%></div>
        </div>
        <div class="row">
            <div class="col-sm-4">Other Details</div>
            <div class="col-sm-6"><%=otherDetail%></div>
        </div>
       
    </script>

</div>
