

<div>

    <script type="text/html" id="ReceiptTemplate">

        <div>
            <button id="btnExportPdf" type="button" class="jsExportPdf btn btn-default" style="display: none">Export to Pdf</button></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header btn-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-file-pdf-o">&nbsp;</i> PRINT RECEIPT LAYOUT</h4>
                </div>
                <div class="modal-body modalBody" id="ModalBody">
                    <div id="ItemContainer"></div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="jsPrintDocument btn btn-default" title="Print Receipt">Print</button>
                    <button type="button" class="jsPDFReceipt btn btn-default" style="display: none">Export to Pdf</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" title="Close">Close</button>
                </div>
            </div>
        </div>



    </script>

    <!-- Starts Booking Receipt Layout-->
    <script type="text/html" id="ReceiptContainer">
        <div id="ReceiptLayout" class="PrintArea row">
            
            <table class="table table-condensed table-removeTopBorder table-hover form-group">
                <tr>
                    <td colspan="2">
                        <table class="table table-condensed table-removeTopBorder form-group">
                            <tr>
                                <td colspan="2"> <img src="Content/Images/AkwsLogo.png" alt="Alkhidmat Logo" title="ALKHIDMAT KARACHI" height="96px" width="80px" /></td>
                                <td colspan="2" class="input-sm text-center input-lg">Al-Khidmat Coffin Carrier Tracking System<br/>
                                    <span class="input-sm text-center" >Head Office – 30/1 C-1 Area Liaquatabad, Karachi</span> 
                                </td>                    
                        </tr>
                    </table>
                    </td>
                </tr>   

                <!--<tr>
                    <td colspan="2">  <img src="Content/Images/AkwsLogo.png" alt="Alkhidmat Logo" height="16px" width="16px" /></td>
                    <td colspan="2" class="input-sm text-center input-lg">Al-Khidmat Coffin Carrier Tracking System</td>                    
                </tr>
                <tr>
                    <td colspan="2" class="input-sm text-center" >Head Office – 30/1 C-1 Area Liaquatabad, Karachi</td>
                </tr>-->
                <tr>
                    <td colspan="2" class="input-sm text-center input-md">Cash Receipt</td>
                </tr>
                <tr>
                    <td class="input-sm">Cash Receipt #: <%=bookingReceipt%></td>
                    <td class="text-right input-sm">Date: <%=printDateTime%></td>
                </tr>
                <tr>
                    <td class="input-sm">Booking Id: <%=bookingId%></td>
                    <td class="text-right input-sm">Booking Date: <%=bookingDate%></td>
                </tr>
                <tr>
                    <td class="input-sm col-sm-8">Cash Received From ________________________________________</td>
                    <td class="input-sm text-right col-sm-4">Rs.______________</td>
                </tr>
                <tr>
                    <td colspan="2" class="input-sm">For_________________________________________________________________________</td>
                </tr>
                <tr>
                    <td colspan="2" class="input-sm text-right">
                        <table class="table table-condensed table-bordered table-removeTopBorder">
                            <tr>
                                <td class="col-sm-4 col-md-4 text-center">Particulars</td>
                                <td class="col-sm-4 col-md-4 text-center">Details</td>
                            </tr>
                                
                            <tr>
                                <td class="col-sm-4 col-md-4 text-left">Cash Received From</td>
                                <td class="col-sm-4 col-md-4 text-left"><%=contactName%></td>
                            </tr>
                            <tr>
                                <td class="col-sm-4 col-md-4 text-left">Total Amount Due</td>
                                <td class="col-sm-4 col-md-4 text-left"><%=bookingAmount%></td>
                            </tr>
                            <tr>
                                <td class="text-left">Amount Received</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td class="text-left">Balance Due</td>
                                <td>&nbsp;</td>
                            </tr>
                        </table>
                    </td>                    
                </tr>
                <tr>
                    <td class="input-sm">Office Contact: 021-34897878</td>
                    <td class="text-right input-sm">Driver’s Contact___________</td>
                </tr>
                <tr>
                    <td class="input-sm">Generated By: <%=userName%></td>
                    <td class="text-right input-sm">Signed By___________</td>
                </tr>


                </table>

        </div>
    </script>

    <!-- End Booking Receipt Layout-->
</div>
