<div>

    <script type="text/html" id="ReceiptTemplate">

        <div>
            <button id="btnExportPdf" type="button" class="jsExportPdf btn btn-default" style="display: none">Export to Pdf</button>
        </div>

        <div class="modal-dialog receipt-dialog">
            <div class="modal-content">
                <div class="modal-header btn-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-file-pdf-o">&nbsp;</i> PRINT RECEIPT LAYOUT</h4>
                </div>
                <div class="modal-body modalBody " id="ModalBody">
                    <div id="ItemContainer"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="jsPrintDocument btn btn-default" title="Print Receipt">Print</button>
                    <button type="button" class="jsPDFReceipt btn btn-default" style="display: none">Export to Pdf</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" title="Close">Close</button>
                </div>
            </div>
        </div>



    </script>

    <!-- Starts Booking Receipt Layout-->
    <script type="text/html" id="ReceiptContainer">
        <div id="ReceiptLayout" class="PrintArea row">
            <div >
                <div class="row">
                    <div class="col-xs-1">
                        <img src="Content/Images/AkwsLogo.png" alt="Alkhidmat Logo" title="ALKHIDMAT KARACHI" height="96px" width="80px" /></div>
                    <div class="col-xs-11 text-center">
                        <i class="input-lg"><strong>Al-Khidmat Coffin Carrier Tracking System</strong></i><br />
                        <small><strong> Head Office – 30/1 C-1 Area Liaquatabad, Karachi</strong></small><br />
                        <small><strong>Contact: 021-34897878, 0331-1334758</strong></small>
                    </div>
                </div>
                <div class="row"><div class="col-xs-12">&nbsp;</div></div>
                <div class="row">
                    <div class="col-xs-2 small">Receipt No</div>
                    <div class="col-xs-4 small"><strong><%=bookingReceipt%></strong></div>
                    <div class="col-xs-3 small text-right">Date</div>
                    <div class="col-xs-3 small text-right"><strong><%=printDateTime%></strong></div>
                </div>
                <div class="row">
                    <div class="col-xs-2 small">Centre</div>
                    <div class="col-xs-4 small"><strong><%=bookingCentre%></strong></div>
                    <div class="col-xs-3 small text-right">Booking Date</div>
                    <div class="col-xs-3 small text-right"><strong><%=bookingDate%></strong></div>
                </div>
                <div class="row">
                    <div class="col-xs-2 small">Driver Name</div>
                    <div class="col-xs-4 small"><%=driverName%> (<%=driverContact%>)</div>
                    <div class="col-xs-3 small text-right">Graveyard</div>
                    <div class="col-xs-3 small text-right"><%=graveyard%></div>
                </div>
                <div class="row">
                    <div class="col-xs-2 small">Bus Point</div>
                    <div class="col-xs-10 small"><%=namazEJanazaLocation%></div>
                </div>
                <div class="row">
                    <div class="col-xs-2 small">Pickup Time</div>
                    <div class="col-xs-4 small"><%=pickupTime%></div>
                    <div class="col-xs-3 small text-right">Prayer</div>
                    <div class="col-xs-3 small text-right"><%=namazEJanazaHeldIn%></div>
                </div>
                <div class="row">
                    <div class="col-xs-2 small">Reading(I)</div>
                    <div class="col-xs-4 small"><%=initialReading%> Km</div>
                    <div class="col-xs-3 small text-right">Reading(F)</div>
                    <div class="col-xs-3 small text-right"><%=finalReading%> Km</div>
                </div>
                <div class="row"><div class="col-xs-12"><hr/></div></div>

                <div class="row">
                    <div class="col-xs-2 small">Name</div>
                    <div class="col-xs-10 small"><%=contactName%></div>
                </div>
                <div class="row">
                    <div class="col-xs-2 small">Cell No</div>
                    <div class="col-xs-4 small"><%=contactMobile%></div>
                    <div class="col-xs-3 small text-right">Cnic</div>
                    <div class="col-xs-3 small text-right"><%=contactCnic%></div>
                </div>
                <div class="row"><div class="col-xs-12"><hr/></div></div>
                <div class="row">
                    <div class="col-xs-2 small">Deceased</div>
                    <div class="col-xs-4 small"><%=deseasedName%></div>
                    <div class="col-xs-3 small text-right">Death Cause</div>
                    <div class="col-xs-3 small text-right"><%=causeOfDeath%></div>
                </div>
                <div class="row">
                    <div class="col-xs-2 small">H/No</div>
                    <div class="col-xs-4 small"><%=address%></div>
                    <div class="col-xs-3 small text-right">Age</div>
                    <div class="col-xs-3 small text-right"><%=deseasedAge%> year(s)</div>
                </div>
                <div class="row">
                    <div class="col-xs-2 small">Referral Details</div>
                    <div class="col-xs-10 small"><%=referralName%><br/><%=referralDetail%></div>
                </div>
                <div class="row">
                    <div class="col-xs-2 small">Other Details</div>
                    <div class="col-xs-10 small"><%=otherDetail%></div>
                </div>
                <div class="row"><div class="col-xs-12"><hr/></div></div>
                <div class="row">
                    <div class="col-xs-2 small">&nbsp;</div>
                    <div class="col-xs-4 small">&nbsp;</div>                    
                    <div class="col-xs-3 small text-right">Amount</div>
                    <div class="col-xs-3 small text-right"><strong><%=bookingAmount%></strong></div>
                </div>
                <div class="row">
                    <div class="col-xs-2 small">&nbsp;</div>
                    <div class="col-xs-4 small">&nbsp;</div>                    
                    <div class="col-xs-3 small text-right">Amount Received</div>
                    <div class="col-xs-3 small text-right">_______________</div>
                </div>
                <div class="row">
                    <div class="col-xs-2 small">&nbsp;</div>
                    <div class="col-xs-4 small">&nbsp;</div>                    
                    <div class="col-xs-3 small text-right">Balance Due</div>
                    <div class="col-xs-3 small text-right">_______________</div>
                </div>

                <div class="row"><div class="col-xs-12"><hr/></div></div>
                <div class="row">
                    <div class="col-xs-2 small">Generated By</div>
                    <div class="col-xs-4 small"><strong><%=userName%></strong></div>
                    <div class="col-xs-3 small text-right">Signature</div>
                    <div class="col-xs-3 small text-right">_______________</div>
                </div>
                

                
            </div>
            <!--<table class="table table-condensed table-removeTopBorder table-hover form-group">
                <tr>
                    <td>
                        <table class="table table-condensed table-removeTopBorder form-group">
                            <tr>
                                <td class="col-sm-2">
                                    <img src="Content/Images/AkwsLogo.png" alt="Alkhidmat Logo" title="ALKHIDMAT KARACHI" height="96px" width="80px" /></td>
                                <td class="input-sm col-sm-10 text-center input-lg">Al-Khidmat Coffin Carrier Tracking System<br />
                                    <span class="input-sm text-center">Head Office – 30/1 C-1 Area Liaquatabad, Karachi</span>
                                    <br />
                                    <span class="input-sm text-center">Contact: 021-34897878, 0331-1334758</span>

                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="table table-condensed table-removeTopBorder table-hover form-group">
                            <tr>
                                <td class="input-sm col-sm-2">Receipt No</td>
                                <td class=" input-sm col-sm-3"><%=bookingReceipt%></td>
                                <td class=" input-sm col-sm-1">&nbsp;</td>
                                <td class=" input-sm col-sm-1">&nbsp;</td>
                                <td class="input-sm col-sm-2">Date</td>
                                <td class="input-sm col-sm-3"><%=printDateTime%></td>
                            </tr>
                            <tr>
                                <td class="input-sm col-sm-2">Centre</td>
                                <td class="input-sm col-sm-3"><%=bookingCentre%></td>
                                <td class=" input-sm col-sm-1">&nbsp;</td>
                                <td class=" input-sm col-sm-2">&nbsp;</td>
                                <td class="input-sm col-sm-2">Booking Date</td>
                                <td class=" input-sm col-sm-2"><%=bookingDate%></td>
                            </tr>
                            <tr>
                                <td class="input-sm col-sm-2">Driver Name </td>
                                <td class="input-sm col-sm-6" colspan="2"><%=driverName%> (<%=driverContact%>)</td>
                                <td class="input-sm col-sm-1">Graveyard</td>
                                <td class="input-sm col-sm-3" colspan="2"><%=graveyard%></td>
                            </tr>
                            <tr>
                                <td class="input-sm col-sm-2">Bus Point</td>
                                <td class="input-sm col-sm-10" colspan="5"><%=namazEJanazaLocation%></td>
                            </tr>
                            <tr>
                                <td class="input-sm col-sm-2">Pick Up Time  </td>
                                <td class="input-sm col-sm-2"><%=pickupTime%></td>
                                <td class="input-sm col-sm-2">Prayer</td>
                                <td class="input-sm col-sm-2"><%=namazEJanazaHeldIn%></td>
                                <td class="input-sm col-sm-2">Readings</td>
                                <td class="input-sm col-sm-2" colspan="2"><%=initialReading%> - <%=finalReading%> Km</td>
                            </tr>
                            <tr>
                                <td class="input-sm col-sm-12" colspan="6"><hr/></td>
                            </tr>
                            <tr>
                                <td class="input-sm col-sm-2">Name</td>
                                <td class="input-sm col-sm-10" colspan="5"><%=contactName%></td>                                
                            </tr>
                            <tr>
                                <td class="input-sm col-sm-2">Cell No</td>
                                <td class="input-sm col-sm-4" colspan="2"><%=contactMobile%></td>
                                <td class="input-sm col-sm-2">CNIC</td>
                                <td class="input-sm col-sm-4" colspan="2"><%=contactCnic%></td>
                            </tr>
                            <tr>
                                <td class="input-sm col-sm-12" colspan="6"><hr/></td>
                            </tr>
                            <tr>
                                <td class="input-sm col-sm-2">Deceased</td>
                                <td class="input-sm col-sm-5" colspan="3"><%=deseasedName%></td>                                
                                <td class="input-sm col-sm-2">Death Cause</td>
                                <td class="input-sm col-sm-3"><%=causeOfDeath%></td>
                            </tr>
                            <tr>
                                <td class="input-sm col-sm-2">H/No</td>
                                <td class="input-sm col-sm-7" colspan="3"><%=address%></td>
                                <td class="input-sm col-sm-1">Age</td>
                                <td class="input-sm col-sm-2" colspan="2"><%=deseasedAge%> year(s)</td>
                            </tr>
                            
                            <tr>
                                <td class="input-sm col-sm-2">Referral Details</td>
                                <td class="input-sm col-sm-3" colspan="5"><%=referralName%><br/><%=referralDetail%></td>
                            </tr>
                            <tr>
                                <td class="input-sm col-sm-2">Other Details</td>
                                <td class="input-sm col-sm-3" colspan="5"><%=otherDetail%></td>
                            </tr>
                            <tr>
                                <td class="input-sm col-sm-12" colspan="6"><hr/></td>
                            </tr>
                            <tr>
                                
                                <td class="input-sm col-sm-2">Total Amount</td>
                                <td class="input-sm col-sm-2"><%=bookingAmount%></td>
                                <td class="input-sm col-sm-4" colspan="2">Amount Received __________________________</td>
                                <td class="input-sm col-sm-4" colspan="2">Balance Due __________________________</td>
                                

                            </tr>
                            <tr>
                                <td class="input-sm col-sm-2">Generated By</td>
                                <td class="input-sm col-sm-3"><%=userName%></td>
                                <td class=" input-sm col-sm-1">&nbsp;</td>
                                <td class=" input-sm col-sm-2">&nbsp;</td>
                                <td class="input-sm col-sm-4" colspan="2">Signature     _____________________________</td>
                                
                            </tr>
                        </table>
                    </td>
                </tr>

            </table>-->

        </div>
    </script>

    <!-- End Booking Receipt Layout-->
</div>
